/*warning #f0ad4e*/


body {
    background-color: #262626;
    padding-top:0;
    width:100%;
}

.header.sidebar .logo h1 a {
    color: #fff;
    text-shadow: -2px 2px 1px #09c3c3;
}

.nav-pad {
    padding: 0 25px;
}

.navbar {
    height: 50px;
}

.navbar-default {
    background-color:#262626;
}

.nav.navbar-nav.top-navbar li a {
    color:#fff;
}

#title h4 {
    padding-left:50px;
    padding-top:25px;
}

a {
    color: #cf9c63;
}

.bg-white {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #b3b3b3;
}

ul a:hover {
    color: #1F1E1E;
    text-decoration: none;
}

.shadow {
    box-sizing: border-box;
    -moz-box-shadow: 1px 1px 3px 3px #ccc;
    -webkit-box-shadow: 1px 1px 3px 3px #ccc;
    box-shadow: 1px 1px 3px 3px #ccc;
    margin: 20px 0;
}

footer {
    margin: 0;
    background-color: #cbc9ca;
}
/*-------- WELCOME PAGE --------*/

#title {
    height:125px;
    position:absolute;
    bottom:50px;
    right:300px;
}

#hero {
    background: url(/Images/hero-detective.png) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    position: relative;
}

@media only screen and (max-width: 767px) {
    #hero {
        background-image: url(/Images/hero-detective-mobile.jpg);
    }
}


#about {
    background-color: #fff;
    width: 80%;
    margin: auto;
}

#contact {
    width: 60%;
    margin: auto;
    color: #262626;
}

.module {
    padding:75px 25px;
    box-sizing: border-box;
    width:100%;
    margin:auto;
    box-shadow:10px 0 5px -5px #789aa1, -10px 0 -5px #789aa1;
}

.technologies {
    text-align: center;
    margin-bottom: 50px;
}

.full-content-large {
    width: 100%;
    max-width: 800px;
    /*margin: 5% auto;*/
    text-align: center;
}

.full-content-small {
    width: 100%;
    max-width: 400px;
    /*margin: 2% auto;*/
    text-align: center;
}

.full-content-xsmall {
    width: 100%;
    max-width: 300px;
    /*margin: 2% auto;*/
    text-align: center;
}

/* ------ FONTS AND TEXT ------*/

.app-title {
    font-size: 5em;
    /*color:#09c3c3;*/
    color: #fff;
}

.text-title {
    /*font-family: 'Bangers', cursive;*/
    font-family: 'Source Sans Pro', sans-serif;
    font-size:1.5em;
}

h1 span {
    text-shadow: -1px 1px #fff;
}

#about h4 {
    color: #737373;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 25px 0;
}

#about small {
    margin-top: 25px;
}

.anon h1,
.anon h2,
.anon h3,
.anon h4,
.anon h5,
.anon h6,
.anon p,
.anon label {
    color: #fff;
}

.box-info small {
    font-size: 12px;
}

/* --- FORMS AND VERIFICATION --*/
label {
    display: inline;
}

.m-t-0 {
    margin-top: 0 !important;
    margin-left: 0px !important;
}

#contactForm #message {
    height: 132px;
}

#contact a, 
#contact i {
    color: #ed9c28;
}

/* -------- DATA TABLE ---------*/

table.dataTable tbody td {
    padding: 6px 3px;
    text-align: center;
}

table {
    width: 100% !important;
}

table td {
    vertical-align: top;
}

/* ----------- IMAGES AND GRAPHS----------*/

img {
    max-width: 100%;
    height: auto;
}

.technologies img {
    margin:0 auto;
    border:5px solid #33464a;
    width:60%;
    /*padding:5px;*/
    max-width:150px;
    margin-top:15px;
    margin-bottom:15px;
}

/*------------ BUTTONS ---------*/

.btn.btn-dark {
	border-color: #111;
	background: #111;
	color: #fff;
}

.btn.btn-dark:hover {
	border-color: #1F1E1E;
	background: #1F1E1E;
	color: #fff;
}

#about .btn {
    margin:25px 0 25px 30%;
}

.btn-block {
    width: 100%;
    margin: 5px 25px;
}

#userProjects .box-info, 
#userTickets .box-info,
#allTickets .box-info,
#usersRender .box-info, 
#ticketDetails .box-info {
    position:relative;
}

#headerButtons {
    position:absolute;
    top:10px;
    right:25px;
}
